<h2>Acerca Psychlab</h2>
<p>Laboratorio de investigación, entrenamiento y simulaciones virtuales de trabajo en equipo.</p>

<h2>Detalles</h2>
<ul>
  <li>Protocolos de entrenamiento de equipos</li>
  <li>Simulaciones en Realidad Virtual</li>
</ul>

<p>Para más información sobre el laboratorio, visite el sitio web <a href="http://psychlab.cl/">Psychlab</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/PsychLabUAI">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://psychlabuai.github.io/equipo">Equipo</a>
  </li>
</ul>
