<h2>Equipo</h2>
<p>Projectos personales de los miembros del Laboratorio</p>

<h2>Diego Cortez</h2>
<ul>
  <li> <a href="http://dialnco.github.io/reader">Reader</a> - Herramienta de lectura veloz</li>
</ul>

<h2>Bastián Fischer</h2>
<ul>
  <li>Fire Escape - Simulador de emergencias</li>
</ul>

<p>Para más información sobre el laboratorio, visite el sitio web <a href="http://psychlab.cl/">Psychlab</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/PsychLabUAI">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-home fa-lg main-list-item-icon"></span>
    <a href="http://psychlabuai.github.io/">PsychLab</a>
  </li>
</ul>
